<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Book</title>
</head>
<body>
    <h1>Edit <%= book.title %></h1>
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" value="<%= book.title %>"/>

        <label for="author">Author: </label>
        <input type="text" name="author" id="author" value="<%= book.author %>"/>

        <label for="pageCount">Page Count: </label>
        <input type="text" name="pageCount" id="pageCount" value="<%= book.pageCount %>"/>

        <label for="description">Description: </label>
        <textarea
        type="text"
        name="description"
        id="description"
        maxlength="100"
      ><%= book.description %></textarea>

        <button type="submit">Update Book</button>
    </form>

</body>
</html>